<div class="bg-darkblue py-12">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="text-center">
        <h2 class="text-3xl font-extrabold text-white sm:text-4xl">
          About Me
        </h2>
      </div>
      <div class="mt-10">
        <div class="max-w-4xl mx-auto bg-white shadow-md rounded-lg overflow-hidden">
          <div class="md:flex">
            <div class="md:flex-shrink-0">
              <img class="h-48 w-full object-cover md:w-50" src="../../assets/img/hero.png" alt="Profile">
            </div>
            <div class="p-8">
              <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">
                Introduction
              </div>
              <p class="mt-2 text-gray-600">
                As a versatile web designer and developer, I blend creativity with technical prowess to craft visually stunning and seamlessly functional digital experiences.
              <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold mt-4">
                Skills
              </div>
              <p class="mt-2 text-gray-600">
                - Web Designer <br>
                - Photo Manipulation <br>
                - Python Enjoyer <br>
                <!-- Add more skills as needed -->
              </p>
              <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold mt-4">
                Contact Information
              </div>
              <p class="mt-2 text-gray-600">
                Email: federico.poleros22@gmail.com <br>
                Phone: +6394812941 <br>
                <!-- Add more contact information as needed -->
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
