<section class="flex items-center justify-between h-screen bg-cover bg-center relative text-white">
    <div class="max-w-3xl p-10">
        <h3 class="text-3xl font-bold mb-2">Hello, It's Me</h3>
        <h1 class="text-5xl font-bold mb-2">Federico Poleros</h1>
        <h3 class="mb-4">And I'm a</h3>
        <p class="text-lg mb-8">As a versatile web designer and developer, I blend creativity with technical prowess to craft visually stunning and seamlessly functional digital experiences.</p>
        <div class="flex mt-4">
            <a href="#" class="inline-flex items-center justify-center w-16 h-16 border-2 border-aqua rounded-full text-aqua text-lg mr-4 transition duration-300 hover:bg-aqua hover:text-gray-900">
                <img src="../../assets/img/python-logo.png" alt="Python Logo">
            </a>
            <a href="#" class="inline-flex items-center justify-center w-16 h-16 border-2 border-aqua rounded-full text-aqua text-lg mr-4 transition duration-300 hover:bg-aqua hover:text-gray-900">
                <img src="../../assets/img/java-logo.png" alt="Java Logo">
            </a>
            <a href="#" class="inline-flex items-center justify-center w-16 h-16 border-2 border-aqua rounded-full text-aqua text-lg mr-4 transition duration-300 hover:bg-aqua hover:text-gray-900">
                <img src="../../assets/img/php-logo.png" alt="PHP Logo">
            </a>
            <a href="#" class="inline-flex items-center justify-center w-16 h-16 border-2 border-aqua rounded-full text-aqua text-lg transition duration-300 hover:bg-aqua hover:text-gray-900">
                <img src="../../assets/img/hml-logo.png" alt="HTML Logo">
            </a>
        </div>
        <a href="/about" class="inline-block px-8 py-4 bg-aqua rounded-full text-white font-semibold text-lg mt-8 transition duration-300 hover:animate-pulse color-aqua-500">
            More About Me
        </a>
        
    </div>
    <div class="flex justify-end">
        <img src="../../assets/img/hero.png" class="">
    </div> 
</section>